
body {
    width: 100%;
    height: 100%;
    background-color: #EEEEEEFF;
}

.Banner{
    /* fallback for old browsers */
    background: #ffffff;
}

.ServiceBox {
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
    height: 72px;
}