
body {
    width: 100%;
    height: 100%;
    background-color: #EEEEEEFF;
}

.Banner{
    /* fallback for old browsers */
    background: #ffffff;
}

.ServiceBox {
    background: #ffffff;
    border: 3px solid #000000;
    height: 125px;
    border-radius: 0px;
    border: 2px solid #e1e1e1;
}

.ServiceBox:hover {
    border: 3px solid #07610CFF;
    border-radius: 4px;
    background: #07610c;
    color: #ffffff;
}

.ServiceBox:hover p {
    color: #D6D6D6FF;
    font-weight: bold;
}

.ServiceBox:hover .Primary {
    color: #ffffff;
    font-weight: bolder;
}